.products-cards-container {
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.products-loading-state {
  height: 100vh;
}

@media (min-width: 768px) {
  .products-cards-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .products-cards-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}